<form action='/add_tags' method='post'>
  <input type='text' name='tag'>
  <input type='submit' value='Add tag'>
</form>

<form action='/links' method='get'>
  <input type='submit' value='Finish'>
</form>
